html {
        height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 0;
    margin: 0
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

a {
    cursor: pointer;
    text-decoration: none;
}

div, section, nav, p {
    box-sizing: border-box;
}
.ikea-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
}

.ikea-icon-search{
    content: url(../../static/img/search.svg);
} 

.ikea-icon-focus {
    background-image: url(../../static/img/focus.svg);

}
.ikea-icon-lock {
    background-image: url(../../static/img/lock.svg);

}

.container a{
    color: #424242;
}